.base00 { color: #f3f3f3; }
.base01 { color: #f3f3f3; }
.base02 { color: #d0d0d0; }
.base03 { color: #949494; }
.base04 { color: #808080; }
.base05 { color: #4d4d4c; }
.base06 { color: #262626; }
.base07 { color: #262626; }
.base08 { color: #8959a8; }
.base09 { color: #d75f00; }
.base0A { color: #4271ae; }
.base0B { color: #718c00; }
.base0C { color: #3e999f; }
.base0D { color: #005f87; }
.base0E { color: #d7005f; }
.base0F { color: #df0000; }

.base00-background { background-color: #f3f3f3; }
.base01-background { background-color: #f3f3f3; }
.base02-background { background-color: #d0d0d0; }
.base03-background { background-color: #949494; }
.base04-background { background-color: #808080; }
.base05-background { background-color: #4d4d4c; }
.base06-background { background-color: #262626; }
.base07-background { background-color: #262626; }
.base08-background { background-color: #8959a8; }
.base09-background { background-color: #d75f00; }
.base0A-background { background-color: #4271ae; }
.base0B-background { background-color: #718c00; }
.base0C-background { background-color: #3e999f; }
.base0D-background { background-color: #005f87; }
.base0E-background { background-color: #d7005f; }
.base0F-background { background-color: #df0000; }
