URxvt.font: xft:monospace:size=21:antialias=true
URxvt.scrollBar: false
URxvt.letterspace: 0
URxvt.backend: xrender

URxvt.perl-ext-common: default,fullscreen,resize-font,tabbed,selection-to-clipboard,pasta,matcher,keyboard-select,url-select
URxvt.keysym.F11: perl:fullscreen:switch
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 3
URxvt.tabbed.tab-bg: 0
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.underlineURLs: true
URxvt.matcher.button: 1
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list
URxvt.matcher.rend.0: Uline Bold fg5
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.Control-Shift-V: perl:pasta:paste
URxvt.clipboard.autocopy: true

URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.intensityStyles: false
URxvt.borderLess: true

URxvt*depth: 32

! PaperColor Theme
URxvt.foreground: #4D4D4C
URxvt.background: [90]#EEEEEE
! black
URxvt.color0: #EDEDED
URxvt.color8: #969694
! red
URxvt.color1: #D7005F
URxvt.color9: #D7005F
! green
URxvt.color2: #718C00
URxvt.color10: #718C00
! yellow / orange
URxvt.color3: #D75F00
URxvt.color11: #D75F00
! blue
URxvt.color4: #4271AE
URxvt.color12: #4271AE
! magenta
URxvt.color5: #8959A8
URxvt.color13: #8959A8
! cyan
URxvt.color6: #3E999F
URxvt.color14: #3E999F
! white
URxvt.color7: #4D4D4C
URxvt.color15: #F5F5F5
